.container .grid-layout {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 920px) {
  .container .grid-layout {
    grid-template-columns: 2fr 1fr;
    gap: 150px;
  }
}
.container .grid-layout .date-category-name-box {
  margin-left: 20px;
  display: flex;
  gap: 30px;
}
.container .grid-layout .dots {
  color: #f9d783;
}
.container .grid-layout .quote-text {
  margin-top: 80px;
  margin-bottom: 80px;
}
.container img {
  margin-top: 70px;
  margin-bottom: 40px;
  max-width: 760px;
  max-height: 500px;
}
.container .category-buttons {
  margin-top: 70px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}
.container .category-buttons a {
  text-decoration: none;
  color: black;
  padding: 5px 25px;
  background-color: rgba(19, 19, 19, 0.05);
  border-radius: 25px;
}