.lets-connect-section {
  background-color: #F0EFE9;
  position: relative;
}
.lets-connect-section img {
  max-width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.lets-connect-section .container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
@media (min-width: 992px) {
  .lets-connect-section .container {
    padding-top: 100px;
  }
}
.lets-connect-section .container .menu {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 30px;
}
.lets-connect-section .container .menu a {
  text-decoration: none;
  color: #191919;
}
.lets-connect-section .container .lets-connect-text {
  margin-bottom: 100px;
}
.lets-connect-section .container .lets-connect-text h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 56px;
  font-weight: 700;
}