.footer-footer {
  background-color: #0E1021;
  margin-left: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
}
.footer-footer p {
  color: rgba(255, 255, 255, 0.7);
}
.footer-footer .container {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
.footer-footer .container .social-media-bar {
  display: none;
}
@media (min-width: 992px) {
  .footer-footer .container .social-media-bar {
    display: block;
  }
}
.footer-footer .container .social-media-bar a {
  color: #ffffff;
  font-size: 1.3rem;
  margin-left: 10px;
  transition: color 0.2s ease-in-out;
}
.footer-footer .container .social-media-bar a:hover {
  color: #605d5d;
}