.features {

    display: block;

    .logotypes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 50px;

        @media (min-width: 992px) {
            flex-direction: row;
            flex-wrap: wrap;
            margin: 70px 0px 0px 0px;
            margin-left: 200px;
            margin-right: 200px;
            gap: 50px;
        }
    }


    .features-section {
        display: flex;

        .container {
            border: 1px solid #191919;
            text-align: center;
            margin-top: 40px;

            @media(min-width: 992px) {
                margin-top: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 1520px;
                text-align: left;
            }

            .section-title {
                .btn-learn-more {
                    padding: 25px 100px 25px 100px;
                    font-family: Inter, sans-serif;
                    font-weight: 600;
                    font-size: 24px;
                    border-radius: 50px;

                    @media (min-width: 992px) {
                        padding: 10px 150px 10px 150px;
                        font-weight: 600;
                        font-size: 16px;
                        border-radius: 25px;
                    }
                }

                p {
                    margin-bottom: 17px;
                }

                @media (min-width: 992px) {
                    flex: 0 0 30%;
                    text-align: left;
                    margin-left: 70px;
                    margin-right: 120px;
                    padding-top: 0px;

                }
            }

            .features-grid {
                margin-top: 100px;
                margin-bottom: 100px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;

                .m-between-icon-text {
                    margin-bottom: 40px;
                }

                a {
                    text-decoration: none;
                    color: #191919;

                    h3 {
                        font-family: 'DM Sans', sans-serif;
                        font-weight: 700;
                        font-size: 22px;
                    }

                    p {
                        font-family: Inter, sans-serif;
                        font-weight: 400;
                        font-size: 16px;
                    }
                }
            }

            .gapflex {
                display: none;

                @media (min-width: 992px) {
                    display: flex;
                    flex: 0 0 20%;
                }
            }
        }
    }


}