@media (min-width: 992px) {
  .contact-info-boxes-section .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.contact-info-boxes-section .container .contact-boxes {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .contact-info-boxes-section .container .contact-boxes {
    text-align: start;
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 80px;
  }
}
.contact-info-boxes-section .container .contact-boxes .content-box {
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .contact-info-boxes-section .container .contact-boxes .content-box {
    display: none;
  }
}
.contact-info-boxes-section .container .contact-boxes .contact-box {
  display: none;
}
@media (min-width: 992px) {
  .contact-info-boxes-section .container .contact-boxes .contact-box {
    border: 1px solid rgba(25, 25, 25, 0.2);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
@media (min-width: 992px) and (min-width: 1320px) {
  .contact-info-boxes-section .container .contact-boxes .contact-box {
    width: 420px;
  }
}
@media (min-width: 992px) {
  .contact-info-boxes-section .container .contact-boxes .contact-box .icons .border-round-icon {
    color: #ffffff;
    background-color: #191919;
    border: 1px solid #191919;
    border-radius: 50%;
    text-align: center;
    padding: 15px;
  }
  .contact-info-boxes-section .container .contact-boxes .contact-box .texts h4 {
    margin-bottom: 15px;
  }
  .contact-info-boxes-section .container .contact-boxes .contact-box .texts p {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0px;
  }
}