@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');

htlm,
body {
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.wrapper-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.2s ease-in-out, color 0.25s ease-in-out;


    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        color: #F9D783;
    }

}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.2s ease-in-out, color 0.25s ease-in-out;


    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #ffffff;
        color: #191919;
    }

}

.btn-round-transparent {
    display: inline-block;
    background-color: #ffffff;
    border-radius: 50%;
    border: 3px solid #191919;

    width: 46px;
    height: 46px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #191919;


}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.2s ease-in-out, color 0.25s ease-in-out;


    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        color: #F9D783;
    }

}

.section-title {
    padding-top: 60px;
    padding-bottom: 30px;

    @media (min-width: 768px) {
        padding-top: 120px;
        padding-bottom: 90px;
    }

    p {
        color: #F94D1C;
        font-family: Inter, sans-serif;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 8px;
    }

    h2 {
        color: #191919;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 45px;
    }
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}






